<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span>Commande</span> {{ commande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ commande.libelle }}</span>
                </dd>
                <dt><span>Dtexecution</span></dt>
                <dd>
                    <span>{{ commande.dtexecution }}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{ commande.statut }}</span>
                </dd>
                <dt><span>Volume</span></dt>
                <dd>
                    <span>{{ commande.volume }}</span>
                </dd>
                <dt><span>Volumeveh</span></dt>
                <dd>
                    <span>{{ commande.volumeveh }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
